<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

           <bean id="getB" class="com.yanjui.B"/>
            <bean id="getC" class="com.yanjui.C"/>

            <bean id="getA" class="com.yanjui.A" init-method="init"  scope="prototype">
                <constructor-arg ref="getB"/>
                <constructor-arg ref="getC"/>

                <property name="b" ref="getB"/>
            </bean>
</beans>