<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="log1" class="com.LogImpl"/>

    <bean id="employeeSerivceImpl" class="com.EmployeeSerivceImpl"/>

    <aop:config>
        <aop:pointcut id="myPointcut" expression="execution(* com.EmployeeSerivceImpl.*(..))"/>
        <aop:aspect ref="log1">
<!--            <aop:before method="befor" pointcut-ref="myPointcut"></aop:before>-->
<!--            <aop:after method="after" pointcut-ref="myPointcut"></aop:after>-->
            <aop:after-returning method="afterReturn" pointcut-ref="myPointcut"></aop:after-returning>

<!--            <aop:after-throwing method="throwAdvice" pointcut-ref="myPointcut" throwing="re"></aop:after-throwing>-->
        </aop:aspect>
    </aop:config>
</beans>