<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="paramAspect" class="com.param.ParamAspect"/>
    <bean id="employeeService" class="com.EmployeeSerivceImpl"/>

    <aop:config>
        <aop:pointcut id="myPointcut" expression="execution(* com.EmployeeSerivceImpl.*(..)) and args(x,y)"/>
        <aop:aspect ref="paramAspect">
          <aop:before method="before" pointcut-ref="myPointcut" arg-names="y,x"></aop:before>

<!--            <aop:around method="aroundParam" pointcut-ref="myPointcut"></aop:around>-->
        </aop:aspect>
    </aop:config>

</beans>