<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--        <bean id="dbConfig" class="basic.DbConfig">-->
<!--            <constructor-arg value="url"/>-->
<!--            <constructor-arg value="name"/>-->
<!--            <constructor-arg value="pwd"/>-->
<!--            <property name="driverClassname" value="driver"></property>-->
<!--        </bean>-->


<!--    <bean id="dbConfig" class="basic.DbConfig">-->
<!--        <property name="driverClassname" value="driver"/>-->
<!--        <property name="password" value="pwd"/>-->
<!--        <property name="url" value="url"/>-->
<!--        <property name="username" value="name"/>-->
<!--    </bean>-->

    <bean id="dbConfig" class="basic.DbConfig">
        <constructor-arg value="root" name="username"/>
        <constructor-arg value="pwd" name="password"/>
        <constructor-arg value="url" name="url"/>
       <property name="driverClassname" value="driver"/>
    </bean>


    <bean id="address" class="basic.Address">
        <property name="province" value="gd"/>
        <property name="city" value="gangzhuo"/>
    </bean>

    <bean id="userInfo" class="basic.UserInfo">
          <property name="name" value="aaa"></property>

        <property name="address" ref="address"></property>

<!--        <property name="address" >-->
<!--            <bean class="basic.Address"></bean>-->
<!--        </property>-->
        <property name="hobbyList" >
            <list>
                <value>daqiu</value>
                <value>kandianying</value>
                <value>xuexi</value>
            </list>
        </property>

        <property name="xueLi">
            <set>
                <value>gaoahong</value>
                <value>daxue</value>
            </set>
        </property>

        <property name="xueFen">
            <map>
                <entry key="yuwen" value="80"></entry>
                <entry key="shuxue" value="100"></entry>
            </map>
        </property>

        <property name="properties">
            <props>
                <prop key="javaT">1111</prop>
                <prop key=".net">2222</prop>
            </props>
        </property>

            <property name="addressList">
                <list>
                    <ref bean="address"/>
<!--                    <bean class="basic.Address">-->
<!--                        <property name="city" value="guandong"/>-->
<!--                        <property name="province" value="jiangxi"/>-->
<!--                    </bean>-->
                </list>
            </property>
    </bean>
</beans>