<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/demo"/>
        <property name="password" value="1234"/>
        <property name="username" value="root"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="baseDao" class="com.dao.impl.BaseDao" abstract="true">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="deptDao" class="com.dao.impl.DeptDaoImpl" parent="baseDao"/>
    <bean id="employeeDao" class="com.dao.impl.EmployeeDaoImpl" parent="baseDao"/>

    <bean id="employeeSerivce" class="com.serivce.impl.DeptSerivceImpl">
        <property name="deptDao" ref="deptDao"/>
        <property name="employeeDao" ref="employeeDao"/>
    </bean>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:advice id="txAdvisor" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="myPointcut" expression="execution(* com.serivce..*.*(..))"/>
        <aop:advisor advice-ref="txAdvisor" pointcut-ref="myPointcut"></aop:advisor>
    </aop:config>
</beans>