<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="emp" class="com.serivce.emp.impl.EmployeeSeriverImpl"/>
    <bean id="log" class="com.log.LogAsprct"/>

    <aop:config proxy-target-class="true">

        <aop:pointcut id="myPointcut"
                      expression="@within(com.serivce.MyAnno)"/>
        <aop:aspect ref="log">
            <aop:before method="before" pointcut-ref="myPointcut"/>
        </aop:aspect>
    </aop:config>

</beans>